autostart/
Code/
create-next-app-nodejs
dconf
discord
Electron
envman
flameshot
gh
.git
go
gtk*
kitty
libreoffice
mimeapps.list
mirage
.mozilla
mpv
nautilus
nextjs*
nwg-look
obs*
pavucontrol.ini
procps
pulse
QtProject.conf
systemd
xsettingsd
zellij
zoom*
fish*
